{
  "arrowParens": "avoid",
  "bracketSpacing": false,
  "printWidth": 70,
  "requirePragma": false,
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false
}
